.col-sm-3{
	margin-right: 5%;
	margin-top: 5%;
}

.first{
	margin-left: 7%;
}

.btn{
	width: 100%;
	height:  20%;
	margin-top: 5%;
	background-color: #2F4F4F;
	border-color: white;
}

.btn:hover{
	border-color: #2F4F4F;
	background-color: #aff2fe2f;
	font-weight: bold;
	margin-left: 3%;
	color: #2F4F4F;
}

h4{
	padding-bottom: 5%;
	font-weight: bold;
}

h5{
	font-weight: bold;
}